!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.7.2.custom.css')
    link(rel='stylesheet', href='/stylesheets/jquery.stickynotes.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body!= body
